menu "1NCE CoAP client sample"

config COAP_SERVER_HOSTNAME
	string "CoAP server hostname"
	default "coap.os.1nce.com"

config COAP_SERVER_PORT
	int "CoAP server port"
	default 5684 if NCE_DEVICE_AUTHENTICATOR
	default 5683 

config COAP_URI_QUERY
	string "CoAP URI Query"
	help
	   "the URI Query option used to set the MQTT topic for 1NCE IoT integrator"
	default "t=test"

config COAP_DATA_UPLOAD_FREQUENCY_SECONDS
	int "Upload Frequency in Seconds"
	default 20


if NCE_DEVICE_AUTHENTICATOR
config NCE_ENABLE_DTLS
	bool
	default y
config DTLS_SECURITY_TAG
	int "DTLS TAG that will be used to store the received credentials"
	default 1111

config OVERWRITE_CREDENTIALS_IF_EXISTS
	bool "If the DTLS TAG already exists in the modem, it will be overwritten with the new credentials"
	default y
endif


if !NCE_ENERGY_SAVER
config PAYLOAD
	string "Message to send to 1NCE Iot Integrator"
	default "Hi, this is a test message!"
endif

if NCE_ENERGY_SAVER	
config PAYLOAD_DATA_SIZE
	int "payload data size"
	default 10
endif

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

